<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>Login into IOT</title>
  <meta name="description" content="Login into IOT">

  <link rel="stylesheet" href="static/css/style.css">
  <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
  <div class="login">
    <h1>Login Page</h1>
    <form>
      <input type="text" name="username">
      <input type="password" name="password">
      <button>Login</button>
    <form>
  </div>
</body>
</html>