
body {
  align-items: flex-start !important;
}

#brokerStatus, #queueStatus {
  background-color: black;
  padding: 0.5rem;
  color: black;
  border-radius: 4px;
}

#counter {
  background-color: black;
  color: white;
  padding: 0.5rem;
  border-radius: 4px;
}